<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">

  <meta name="author" content="Association Colombbus" />
  <meta name="keywords" content="educational, video games, vue" />
  <meta name="description" content="Level generator - Declick component By Colombbus to create map in video games" />

  <meta property="og:title" content="Level generator | Declick component By Colombbus" />
  <meta property="og:description"
    content="Level generator - Declick component By Colombbus to create map in video games" />
  <meta property="og:url" content="//www.declick.net/level" />
  <meta property="og:image" content="//www.declick.net/level/img/logo.svg" />
  <meta property="og:image:secure_url" content="//www.declick.net/level/img/logo.svg" />
  <meta property="og:image:alt" content="logo declick generator" />
  <meta property="og:site_name" content="level-generator" />
  <meta property="og:type" content="website" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
  <title>declick-level-generator</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but declick-level-generator doesn't work properly without JavaScript enabled. Please enable it
      to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->

</body>

</html>