<template>
  <div id="app">
    <!-- <router-view/> -->
    <map-drawer></map-drawer>
  </div>
</template>

<script>
// <!-- <map-writer></map-writer> -->
import MapDrawer from '@/components/MapDrawer'
// import MapWriter from '@/components/MapWriter'
import '@/assets/logo.svg'

export default {
  name: 'App',
  created() {
    // console.log("app created");
  },
  mounted() {
    // console.log("app mounted");
  },
  components: {
    MapDrawer
    // MapWriter,
  }
}
</script>

<style>
body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  /* color: #2c3e50; */
}
</style>
